<!DOCTYPE html>
<html>
<head>
	<title>Producto</title>
</head>
<body>
	<P>Registro de Productos</P>
	
	
</body>

<form method="POST" action=""> {% csrf_token %}
	{{ formulario_producto.as_p }}

<input type = "submit" value = "Guardar">

</form>
</html>